.CreateBudget h4{
  margin: 0;
}
#budget-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding:0!important;
}

.MuiFormControl-root{
  margin: 8px 0 !important;
}

.monthly-stats .chart{
  grid-area: graph;
}