nav.menu {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav.menu ul,
nav.menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

nav.menu ul li a,
nav.menu ul li button {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
    background: none;
    border: none;
}

nav.menu ul li a:hover,
nav.menu ul li button:hover,
nav.menu ul li a:focus,
nav.menu ul li button:focus,
nav.menu ul li a:active,
nav.menu ul li button:active {
    background-color: white;
    color: #4d5791;
}

nav.menu ul li button {
    cursor: pointer;
}

.skip-to-main-content{
    position: absolute;
    height: 0;
    width: 0;
    left: -1000px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.skip-to-main-content:focus{
    position: absolute;
    display: grid;
    place-content: center;
    left: 10px;
    top: 40px;
    width: 130px;
    padding:8px;
}