.DashboardPage {
  min-height: 80vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.monthly-stats{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.monthly-stats > *{
  min-width: 45%;
  margin: 16px 0;
}